body{
    padding: 0px;
    margin: 0px auto;
    width: 1000px;
    background-color: aqua;
}
.web{
    width: 1000px;
    height: auto;
}
header{
    width: 1000px;
    height: 200px;
}
.menu{
    font-variant: small-caps;
    text-align: center;
    font-size: 15px;
    
    background: blue;
    height: 40px;
    width: 1000px;
}
.menu>a:hover{
    color: yellow;
}
.menu>ul{
    background-color: blue;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.menu>ul>li{
    display: inline-block;
    line-height: 40px;
    width: 10%;
}
.menu a{
    text-decoration: none;
    color: white;
    display: block;
}
.menu a:hover{
    background-color: greenyellow;
    color: red;
    border-radius: 10px;
}
.menu li{
    position: relative;
}
.sub-menu{
    position: absolute;
    background-color: blue;
    width: 120px;
    list-style-type: none;
    display: none;
    z-index: 1;
}
.sub-menu >li{
    padding: 0;
    margin-left: -40px;
}
.menu li:hover .sub-menu{
    display: block;
}
h1{
    text-align: center;
}
article{
    float: left;
    width: 695px;
    height: auto;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    padding: 2px;
}
aside{
    float: right;
    width: 300px;
    background-color: beige;
    color: blue;
    text-decoration:none;
    font-variant: large;
    border-radius: 8px 8px 8px 8px;
}
aside>ul>li>a{
    text-decoration: none;
}
aside>ul>li>a:hover{
    color: red;
    text-decoration: underline;
}
footer{
    border-top:5px double orangered;
    line-height:40px;
    background-color:lightcyan;
    text-align:center;
    font-variant:small-caps;
    clear:both;
   
}
article>p{
    text-align: justify;
}
form{
    padding: 10px;
    margin: 5px;
}
hr{
    color: blue;
}
#lichtuan{
    background-color: white;
    text-align: center;
}